.projectsContainer {
    padding-block: 2rem;
    color: var(--white);

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .project {
            box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.25);
            background-color: var(--gray);
            padding-inline: 1rem;
            border-radius: 30px;
            display: grid;
            grid-template-areas:
                    "title"
                    "skills"
                    "image"
                    "article"
                    "buttons";
            gap: 1rem;
            padding: 2rem;

            .projectTitle {
                grid-area: title;
                margin: 0;
                text-align: center;
                font-size: clamp(32px, 2.5vw, 24px);
                font-weight: 600;
                line-height: var(--lh);
            }

            .skills {
                grid-area: skills;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.5rem;
                justify-content: center;
                align-items: center;

                .skill {
                    display: flex;
                    flex-direction: row;
                    gap: 0.25rem;
                    align-items: center;
                    justify-content: center;
                    padding: 0.25rem 0.5rem;
                    background-color: var(--blue-dark);
                    border-radius: 10px;

                    .skillIcon {
                        height: 1rem;
                    }
                }
            }

            .image {
                grid-area: image;
                display: block;
                max-height: 15rem;
                width: 100%;
                object-fit: contain;
                object-position: center center;
                border-radius: 30px;
                background-color: var(--gray);
            }

            .description {
                grid-area: article;
                text-align: center;
            }

            .linkGroup {
                grid-area: buttons;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;

                .link {
                    background-color: var(--blue-dark);
                    color: var(--white);
                    border: 1px solid var(--blue-dark);
                    border-radius: 30px;
                    padding: 0.5rem 1rem;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: var(--gray);
                        color: var(--white);
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) {

    .projectsContainer {

        .projects {

            .project {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-areas:
                    "title skills"
                    "image article"
                    "image buttons";
                gap: 2rem;
            }

        }
    }
}