# Node & Build Artefakte
node_modules
build

# Editor & Projekt-Meta
.idea
.vscode
.git
.gitignore
README.md
LICENSE

# Dockerfiles (nicht ins Image kopieren)
Dockerfile
docker-compose.yml

# CI/CD Dateien
.github