.navbar {
    position: relative;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-top: 2rem;

    .logo .link {
        text-transform: uppercase;
        color: var(--white);
        font-family: var(--f-sans), sans-serif;
        font-weight: 600;
        font-size: clamp(22px, 2.5vw, 24px);
        line-height: var(--lh);
        transition: color 200ms ease-in-out;
    }

    .logo .link:hover {
        color: var(--black);
        text-decoration: none;
    }

    .links {
        display: none;

        .link {
            text-transform: uppercase;
            color: var(--white);
            font-family: var(--f-sans), sans-serif;
            font-weight: 600;
            font-size: clamp(22px, 2.5vw, 24px);
            line-height: var(--lh);
            transition: color 200ms ease-in-out;
        }

        .link:hover {
            color: var(--black);
            text-decoration: none;
        }
    }
}

.iconBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.icon {
    width: 32px;
    height: 32px;
    pointer-events: none;
}

.menu {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    z-index: 45;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    text-transform: uppercase;
    background-color: var(--blue);
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    transition: transform 250ms ease-in-out,
    opacity 100ms ease,
    visibility 0s linear 250ms;
    border-bottom: 1px solid var(--black);
    box-shadow: 0px 1px 1px var(--black);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.menu .menuLink {
    color: var(--white);
    font-family: var(--f-sans), sans-serif;
    font-weight: 600;
    font-size: clamp(22px, 2.5vw, 24px);
    line-height: var(--lh);
    transition: color 200ms ease-in-out;
    padding: 0.5rem 1rem;
}

.menu .menuLink:hover {
    color: var(--black);
    text-decoration: none;
}

/* Tablet bleibt noch mobil */
@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
    }
}

/* Desktop: Links zeigen, Icon + Menü aus */
@media (min-width: 992px) {
    .navbar {
        justify-content: flex-start;

        .links {
            display: flex;
            gap: 4rem;
        }
    }

    .iconBtn {
        display: none;
    }

    .menu {
        display: none;
    }
}
