name: SAST-Hadolint

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  dockerfile-linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Hadolint-check
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
